.filter-chip {
  height: 32px;
  background-color: var(--background);
  border: 1px solid var(--outline);
  display: grid;
  place-items: center;
  padding-inline: 16px;
  border-radius: var(--radius-8);
  user-select: none;
  cursor: pointer;

  .checkbox {
    appearance: none;
    width: 1px;
    height: 1px;
    margin: -1px;
    opacity: 0;
  }
  &:has(:focus-visible) {
    box-shadow: inset 0 0 0 1px var(--primary);
  }
  &:has(:checked) {
    background-color: var(--badge-btn);
    border-color: var(--badge-btn);
  }
}
